<!DOCTYPE html>
<html>
<head>
	<title>form</title>
</head>
<body>
 <form>
  <b>Name:</b><br/>
  <input type="text" name="name" placeholder="Enter name"><br/><br/>
  <b>College:</b><br/>
  <input type="text" name="college" placeholder="Enter college"><br/><br/>
  <b>Semester:</b><br/>
  <input type="text" name="semester" placeholder="Enter semester"><br/><br/>
  <b>Contact no:</b><br/>
  <input type="number" name="contact" placeholder="Enter contact no"><br/><br/>
  <b>Facebook link:</b><br/>
  <input type="text" name="facebooklink" placeholder="Enter facebook link"><br/><br/>
  <b>Select your photo</b><br/>
  <input type="file" name="img"><br/><br/>
  <input type="submit" value="Submit">
</body>
</html>

